/adapters
/CHANGELOG.md
/CMakeLists.txt
/COPYING
/Makefile
/README.md
/alloc.c
/alloc.h
/alloc.o
/appveyor.yml
/async.c
/async.h
/async.o
/async_private.h
/dict.c
/dict.h
/fmacros.h
/hiredis-config.cmake.in
/hiredis.c
/hiredis.h
/hiredis.o
/hiredis.pc
/hiredis.pc.in
/hiredis.targets
/hiredis_ssl-config.cmake.in
/hiredis_ssl.h
/hiredis_ssl.pc.in
/libhiredis.a
/libhiredis.so
/init
/monitor
/monitor1
/monitor1.c
/monitor20
/monitor20.c
/monitor26
/monitor26.c
/monitor40
/monitor40.c
/monitor45
/monitor45.c
/monitor53
/monitor53.c
/net.c
/net.h
/net.o
/read.c
/read.h
/read.o
/sds.c
/sds.h
/sds.o
/sdsalloc.h
/sockcompat.c
/sockcompat.h
/sockcompat.o
/ssl.c
/test.c
/test.sh
/win32.h
init
